main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
/* note: removed aside because main menu doesnt exist now */
button {
    font-family: inherit;
}
/* note: stop using inline styles */
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
}